PROGS[0]="./benchmarks_final/2mm_1024"
PROGS[1]="./benchmarks_final/cholesky_1024"
PROGS[2]="./benchmarks_final/jacLR"
PROGS[3]="./benchmarks_final/stream_d0_1"
PROGS[4]="./benchmarks_final/stream_d0_2"
PROGS[5]="./benchmarks_final/polybench-c-3.2/bin/trmm_parallel_3000"
PROGS[6]="./benchmarks_final/polybench-c-3.2/bin/dynprog_parallel_T700_L350"
PROGS[7]="./benchmarks_final/polybench-c-3.2/bin/mvt_parallel_6000"
PROGS[8]="./benchmarks_final/polybench-c-3.2/bin/syr2k_parallel_900"
PROGS[9]="./benchmarks_final/polybench-c-3.2/bin/atax_parallel_8000"
PROGS[10]="./benchmarks_final/polybench-c-3.2/bin/gemver_parallel_9000"
PROGS[11]="./benchmarks_final/cholesky_4096"
PROGS[12]="./benchmarks_final/polybench-c-3.2/bin/gemm_parallel_1150"
PROGS[13]="./benchmarks_final/polybench-c-3.2/bin/atax_parallel_18000"
PROGS[14]="./benchmarks_final/polybench-c-3.2/bin/correlation_parallel_1500"
PROGS[15]="./benchmarks_final/polybench-c-3.2/bin/covariance_parallel_1500"
PROGS[16]="./benchmarks_final/polybench-c-3.2/bin/2mm_parallel_1500"

NO_OF_PROGS=16

CORES=(
8 8 8 8
8 8 8 8
8 8 8 8
8 8 8 8)
